/* Nav bar css part */

#container {
  width: 90%;
  margin: auto;
}

#nav {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  margin: auto;
  padding-top: 10px;
  /* align-items: center; */
}

.logo {
  height: 70px;
  margin-bottom: 20px;
  margin-right: 30px;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
#nav h1 {
  margin: 0px;
  padding: 0px;
  height: fit-content;
}
.right img {
  height: 40px;
  object-fit: contain;
  mix-blend-mode: color-burn;
}
.left {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
}
.left > input {
  width: 80%;
  height: fit-content;
}
.search-input {
  /* width: 100%; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border: none;
  transition: all 0.4s;
}

.search-input:focus {
  border: none;
  outline: none;
  /* box-shadow: 0 1px 12px #b8c6db; */
  /* -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db; */
}
.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  color: #6c6c6c;
  transition: all 0.4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}
.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

/* 2nd nav bar css */
.display {
  border: 2px solid rgb(219, 216, 216);
  border-left: none;
  border-right: none;
}

.display > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 80%;
  margin: auto;
  padding: 10px;
}
.menu {
  color: black;
  text-decoration: none;
}
.menu:hover {
  color: rgb(233, 94, 108);
}

.slide {
  width: 100%;
  display: flex;

  /* align-items: center; */
}
.slide img:nth-child(1) {
  width: 100%;
}
.slide img:nth-child(2) {
  width: 20%;
}
.underslide > img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.roomimg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: auto;
}

.roomimg div img {
  width: 100%;
}
.grey {
  color: grey;
}
.three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.three div img {
  width: 100%;
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  background-color: #f5f6f9;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer div {
  padding: 10px;
}
.bottom{
  display: flex;
}
.footer p {
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer > div > img {
  width: 80%;
  border-radius: 7px;
}
/* .innerfooter{
  width: 30%;
} */
/* .innerfooter{
  width:70%;
} */
.cards {
  width:100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap:10px;
}
.cards > img {
  width: 100%;
  padding: 5px;
}
.bottom{
  margin:0;
  padding:0;
  width:100%;
  display:flex;
}
.socialdiv{
  padding:0;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap:10px;
  width:50px;
}
.socialdiv img{
  width:40px;
}